<%= form_with model: @employee do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :job_title %>
    <%= f.text_field :job_title %>
  </div>

  <div>
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div>
    <%= f.label :salary %>
    <%= f.number_field :salary %>
  </div>

  <div>
    <%= f.label :department %>
    <%= f.text_field :department %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>